.container {
}
.mat-card {
    background-color: #363636;
    color: gray;
    width: 40%;
    margin-right: 5px;
    display: inline-block;
    height: 90px;
}
.sessionBreaths {
    font-size: 48px;
}
.breathKey {
    width: 130px;
    font-size: 22px;
    margin-right: 5px;  
}