.login-card {
    background-color: #303030;
    color: gray;
    max-width: 500px;
    margin-top: 30px;
}
.login-btn {
    color:gray;
    background-color: #3b3b3b;
    width: 150px;
}
.spinner-position {
    position: absolute;
    right: 25px;
    top: 8px;
}
.mat-raised-button[disabled] {
    color: rgb(110, 110, 110);
}
.error-white {
    margin-top: 10px;
    position: absolute;
    color: white;
}
.error-gray {
    margin-top: 10px;
    color:gray;
    position: relative;
}
img {
    max-width: 200px;
}