<div class="flex">
  <span class="fill-remaining-space"></span>
  <mat-card class="login-card">

    <div class="flex">
      <span class="fill-remaining-space"></span>
      <span><img src="../../assets/yoga_seed_logopng.png"></span>
      <span class="fill-remaining-space"></span>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Email" type="text" #usernameobj appAutofocus formControlName="email">
      </mat-form-field>
      <mat-form-field style="width: 100%">
          <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <br>
      <div class="flex">
        <span class="error-gray">{{error}}</span>
        <span #errorText class="error-white">{{error}}</span>
      </div>
      <br>
      <div class="flex">
        <button mat-raised-button class="login-btn" type="button" routerLink="/register">Register</button> 
        <span class="fill-remaining-space"></span>
        <button mat-raised-button class="login-btn" type="submit" [disabled]="!loginForm.valid">
          <span class="login">Login</span>
          <span class="spinner-position">
            <mat-progress-spinner
              *ngIf="showSpinner"
              [diameter] = 20
              class= "spinner"
              mode= "indeterminate"
            ></mat-progress-spinner>
          </span>
        </button>
      </div>
    </form>
  </mat-card>
  <span class="fill-remaining-space"></span>
</div>
