<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
<!--      <button mat-raised-button [routerLink]="['/feedback']"></button>      -->
    <span>My Account</span>
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<mat-toolbar class="toolbar flex" color="primary">
  <button mat-icon-button (click)="isCollapsed = !isCollapsed">
      <mat-icon [@iconChange]="isCollapsed">menu</mat-icon>
  </button>
  <span>Yoga Seed</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
</mat-toolbar>