<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
<!--      <button mat-raised-button [routerLink]="['/feedback']"></button>      -->
    <span>My Account</span>
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<mat-toolbar class="flex" color="primary">
  <button mat-icon-button class="toolBarIcon" (click)="isCollapsed = !isCollapsed; sideNav.toggle()">
      <mat-icon [@iconChange]="isCollapsed">menu</mat-icon>
  </button>
  <span class="title">Mind Your Time</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button class="toolBarIcon" [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
</mat-toolbar>


<mat-drawer-container (backdropClick)="isCollapsed = !isCollapsed">
  <mat-drawer #sideNav mode="over">
    test damn
  </mat-drawer>
  <mat-drawer-content class="routeContainer">
    <div class="flex">
      <span class="fill-remaining-space"></span>
      <span><mat-card><router-outlet></router-outlet></mat-card></span>
      <span class="fill-remaining-space"></span>
    </div>
  </mat-drawer-content>
</mat-drawer-container>