.card {
    background-color: #303030;
    height: 100vh;
    top: -20px;
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}
.toolbar {
    background-color: #181818;
    color: gray;
}
.header {
    margin-bottom: 10px;
}
.menuIcon {
    Margin-top: 10px;
    left: -12px;
    color: gray;

}
.accountIcon {
    Margin-top: 10px;
    color: gray;
}
.mat-menu-item .mat-icon {
    color: gray;
} 
