.card {
    background-color: #303030;
    height: 100vh;
    width: 600px;
    overflow: auto;
    overflow-x: hidden;
}
.routeContainer {
    margin-bottom: 5px;   
    /* margin-top: 40px; */
    /* box-sizing: border-box; */
    /* flex-direction: column; */
    /* height: 94vh; */
    background-color: #1b1b1b;
}
.title {
    margin-top: 8px;
}
.toolbar {
    background-color: #181818;
    color: gray;
}
.menuIcon {
    Margin-top: 10px;
    /* height: 20px; */
    left: -12px;
    color: gray;
}
.header {
    height: 22px;
}

.accountIcon {
    Margin-top: 10px;
    color: gray;
}
.mat-menu-item .mat-icon {
    color: gray;
} 