.mat-card {
    background-color: #363636;
    color: gray;
    width: 41%;
    margin-top: 5px;
    display: inline-block;
    height: 90px;
    text-align: center;
    vertical-align: top;
}
.totalItem {
    font-size: 3em;
}
.totalText {
    margin-top: 15px;
}
.container {
    height: 800px;
    overflow-y: auto;
}
.chart {
    margin-top:5px;
}
@media only screen and (max-width: 465px) {
    .totalItem {
        font-size: 2.2em;
    }
}
@media only screen and (min-width: 700px) {
    .mat-card {
        width: 44%;
    }
}