<div class="container" *ngIf="ready">
  <div class="chart">
    <app-chart [data]="statObject.breathPointsPerDay"></app-chart>
  </div>
  <div class="cards">
    <div class="flex">
      <mat-card>
        <div class="totalItem">
          {{ statObject.todaysBreathPounts }}
        </div>
        <div class="totalText">
          Breaths Taken Today
        </div>
      </mat-card>
      <span class="fill-remaining-space"></span>      
      <mat-card> 
        <div class="totalItem">
          {{ statObject.todaysTime }}          
        </div>
        <div class="totalText">
          Total Time Today
        </div>
      </mat-card>
    </div>
    <div class="flex">
      <mat-card>
        <div class="totalItem">
          {{ statObject.totalBreaths }}
        </div>
        <div class="totalText">
          Total Breaths Taken
        </div>
      </mat-card>
      <span class="fill-remaining-space"></span>
      <mat-card>
        <div class="totalItem">
            {{ statObject.totalTime }}
        </div>
        <div class="totalText">
            Total Time Meditating
        </div>
      </mat-card>
    </div>
  </div>
</div>