<div class="container" *ngIf="statObject | async as stat">
  <div class="chart">
    <app-chart [data]="stat.breathPointsPerDay"></app-chart>
  </div>
  <div class="cards">
    <div class="flex">
      <mat-card>
        <div class="totalItem">
          {{ stat.todaysBreathPounts}}
        </div>
        <div class="totalText">
          Breaths Taken Today
        </div>
      </mat-card>
      <span class="fill-remaining-space"></span>      
      <mat-card> 
        <div class="totalItem">
          {{ stat.todaysTime}}          
        </div>
        <div class="totalText">
          Total Time Today
        </div>
      </mat-card>
    </div>
    <div class="flex">
      <mat-card>
        <div class="totalItem">
          {{ stat.totalBreaths}}
        </div>
        <div class="totalText">
          Total Breaths Taken
        </div>
      </mat-card>
      <span class="fill-remaining-space"></span>
      <mat-card>
        <div class="totalItem">
            {{ stat.totalTime}}
        </div>
        <div class="totalText">
            Total Time Meditating
        </div>
      </mat-card>
    </div>
  </div>
</div>