<app-timer-progress *ngIf="!results" [time]="timerPosition"></app-timer-progress>
<div class="flex" *ngIf="!results">
    <span class="fill-remaining-space"></span>
    <mat-icon class="person">person</mat-icon>
    <span #el class="circle"></span>
    <span class="fill-remaining-space"></span>
</div>

<div class="container" *ngIf="!results">
    <div class="time">{{ minutes }}:{{ seconds | number: '2.0-0' }}</div>
    <div class="time">Minutes Complete</div>
    <button *ngIf="!running && !finished" class="playButton" mat-raised-button (click)="player.play(); startTimer(); running = true">Start<mat-icon>play_arrow</mat-icon></button>
    <button *ngIf="running && !finished" class="playButton" mat-raised-button (click)="player.pause(); pauseTimer(); running = false; uploadTime()">Pause<mat-icon>pause</mat-icon></button>
    <button *ngIf="finished" class="playButton" mat-raised-button [routerLink]="['/stats']" [queryParams]="{minutes: minutes, seconds: seconds, total_seconds: currentTime}">Go to Results</button>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Options
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div [ngStyle]="{'text-align': 'center'}">Breath Length</div>
            <div [ngStyle]="{'text-align': 'center'}">(Seconds)</div>
            <mat-slider
                thumbLabel
                class="slider"
                [max]="10"
                [min]="2"
                [tickInterval]="1"
                (input)="changeBreath($event)"
                [(value)]="breathTimeSetting">
            </mat-slider>
            <div [ngStyle]="{'text-align': 'center'}">Session Length</div>
            <div [ngStyle]="{'text-align': 'center'}">(Minutes)</div>
            <mat-slider
                thumbLabel
                class="slider"
                [max]="10"
                [min]="2"
                [tickInterval]="1"
                (input)="changeTime($event)"
                [(value)]="sessionLength">
            </mat-slider>
        </mat-expansion-panel>
    </mat-accordion>    
</div>