.person {
    font-size: 200px;
    position: relative;
    top: -270px;
    z-index: 10;
    pointer-events: none;
    left: -2px;
}
.circle {
    height: 176px;
    width: 176px;
    background-color: #5f5f5f;
    border-radius: 50%;
    position: relative;
    top: -242px;    
    left: -14px;
}
.timer {
    top: 100px;
}
.playButton {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    background-color: #181818;
    color: gray;
}
.time {
    text-align: center;
    margin-bottom: 5px;
    color: gray;
}
.container {
    top: -150px;
    position: relative
}