/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
    padding: 0;
    margin: 0;
    background-color: #1b1b1b;
}
body {
    overflow: hidden;
}
.fill-remaining-space {
    flex: 1 1 auto;
}
.flex {
    display:flex;
}