.mat-raised-button[disabled] {
    color: rgb(110, 110, 110);
}
.input {
    color: gray;
}
.register-card {
    background-color: #303030;
    color: gray;
    max-width: 500px;
}
textarea {
    width: 100%;
}
.mat-hint {
    color: gray;
}
.register-btn {
    color:gray;
    background-color: #3b3b3b;
    width: 150px;
    margin: 10px 0 10px 0;
}
.spinner-position {
    position: absolute;
    right: 20px;
    top: 8px;
}
.mat-raised-button[disabled] {
    color: rgb(110, 110, 110);
}
.alert {
    margin-top: 20px;
}