.mat-raised-button[disabled] {
    color: rgb(110, 110, 110);
}
.register-card {
    background-color: #303030;
    color: gray;
    max-width: 500px;
    min-height: 100%;
}
.mat-hint {
    color: gray;
}
.register-btn {
    color:gray;
    background-color: #3b3b3b;
    width: 150px;
    margin: 10px 0 10px 0;
    margin-bottom: 20px;
}
.spinner-position {
    position: absolute;
    right: 20px;
    top: 8px;
}
.mat-raised-button[disabled] {
    color: rgb(110, 110, 110);
}
.password {
    margin-top: -10px;
}
.alert {
    margin-top: 20px;
}
.error-white {
    position: absolute;
    color: white;
}
.error-gray {
    color:gray;
    position: relative;
}
.register-form {
    margin-top: 50px;
}